<%= link_to 'About', about_path %>
<h1> Hello, WELCOME TO ALPHA BLOG <h1>
  
  <ul>
    <li> create your blog here </li>
    <li> share your experience </li>
    <li> create communities of yours </li>
  </ul>
  
  